@import '../../_settings/_variables.css';

.menuButton {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  display: block;
  font-family: var(--base-font-family);
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

/* Size */
.small {
  padding: 0.5em 0.6em;
}

.medium {
  padding: 1.1em 1.3em;
}

.large {
  padding: 1.7em 2.4em;
}

/* Theme */
.menuTheme {
  color: #fff;
  background: var(--transparent);
  border: 1px solid var(--transparent);
  font-weight: bold;
  padding: 10px 15px;
  margin: 5px 20px;
  &:focus {
    outline: -webkit-focus-ring-color auto 0px;
  }
  &:hover {
    cursor: pointer;
  }
}

.rounded {
  color: var(--brand);
  background: var(--transparent);
  border: 1px solid var(--transparent);
  /* transition: color 0.3s ease, background 0.3s ease; */


  /* &:hover {
    color: #fff;
    background: var(--brand);
  } */
}

.active {
  color: #fff;
  background-color: #fff0;
  font-weight: bold;
  padding-bottom: 10px;
  border-width: 0px 0px 4px 0px;
  border-color: #fff;
  border-style: solid;
}

/* Disabled */
.disabled {
  color: var(--grey-2);
  background: color(var(--grey-4) tint(40%));
  border-color: var(--grey-4);
  cursor: default;
}

.size12 {
  font-size: 12px;
}

.size14 {
  font-size: 14px;
}

.size18 {
  font-size: 18px;
}

.size20 {
  font-size: 20px;
}

.size28 {
  font-size: 28px;
}