@import '../../_settings/_variables.css';

.text {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  display: block;
  font-family: var(--base-font-family);
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

/* Size */
.h1 {
  font-size: 26px;
}

.h2 {
  font-size: 24px;
}

.h3 {
  font-size: 22px;
  color: #ccc;
  margin-top: 2px;
}

.h4 {
  font-size: 20px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-size: 16px;
}

.p {
  font-size: 14px;
}

.span {
  font-size: 12px;
}
